<% layout('layout/boilerplate.ejs')  %> 

    
    <article class = "about">
        We are The Institute of Electrical & Electronics Engineers in GUC (IEEE GUC), a non-profit organization whose main goals are: Upgrading humanity and empowering GUC students with the extra needed technical and non-technical skills and knowledge to cope with the technical evolution in the recent years.
    </article>

    <article class="OL">
        We have 10 different committees: 4 Technical and 6 OC, all working together to:
        <ol class = "OL">
    <li>  Transfer the technical knowledge of the IEEE innovation committee members through holding technical sessions , events and workshops.</li>
    <li>
        Provide the technical support for the GUC students by supplying them with the hardware packages for their projects.</li>
        <li>
         Publish our own research paper and videos to spread informative ideas to all of the GUC students.
    </li>
    <li>
         Participate in different technical competitions to improve the members skills and experience through projects.
    </li>
    <li>
         Create events and trips, focusing on improving the soft non-technical skills.
    </li>
    </ol>
    <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam natus enim dicta ut voluptates, illo quod. Eius fuga reprehenderit soluta autem fugit aliquam pariatur sed impedit alias ut, eum eveniet.</p>
    <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam natus enim dicta ut voluptates, illo quod. Eius fuga reprehenderit soluta autem fugit aliquam pariatur sed impedit alias ut, eum eveniet.</p>
    <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam natus enim dicta ut voluptates, illo quod. Eius fuga reprehenderit soluta autem fugit aliquam pariatur sed impedit alias ut, eum eveniet.</p>
    <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam natus enim dicta ut voluptates, illo quod. Eius fuga reprehenderit soluta autem fugit aliquam pariatur sed impedit alias ut, eum eveniet.</p>
    
    </article>

