<% layout('layout/boilerplate.ejs') %>

  <div class="row justify-content-even" >
    <div class="col-5 justify-content-center mr-2">
      <h2 class="display-4 mb-3">Organizing</h2>
      <ul class="ml-4">
        <li>Media & Design</li>
        <li>Adminstration</li>
        <li>human resources</li>
        <li>fund raising</li>
        <li>events planning</li>
        <li>marketing & pr</li>
      </ul>
    </div>
    <div class="col-5 justify-content-center">
      <h2 class='display-4 mb-3'>Technical</h2>
      <ul class="ml-4">
        <li>software</li>
        <li>hardware</li>
        <li>research & developement</li>
        <li>projects</li>
      </ul>
    </div>
  </div>