<% layout('layout/boilerplate.ejs') %>
    <h4 class="display-3">
        IEEE Meetings, Conferences & Events is a dedicated partner made up of event industry experts driven to shape
        innovative and high-quality events.
    </h3>
    <h4 class="display-4">
        IEEE MCE specializes in event management including registration, audience development and program design; as
        well as sponsorship, publications and financial management for more than 1,900 annual events worldwide.
    </h3>
    <br>
    <section class="container mt-3">
        <h1 class="display-2 mb-4 text-light">  Conferences useful Links:</h1>

        <a class = "links-a" href="https://conferences.ieee.org/conferences_events/conferences/search?q=*&subsequent_q=&date=all&from=&to=&region=all&country=all&pos=0&sortorder=desc&sponsor=&sponsor_type=all&state=all&field_of_interest=all&sortfield=relevance">  Link to Upcoming Confrences</a>
        <br>
        <a href="http://ieeemce.org/" class="links-a">  An Application to start a confrence</a>
    </section>