<% layout('layout/boilerplate.ejs')  %> 
<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <span class="display-3 success">
                
            </span>
        </div>
    </div>
</div>