<% layout('layout/boilerplate.ejs') %>
    <h3 class="display-3">
        IEEE provides a wide range of quality publications that make the exchange of technical knowledge and information
        possible among technology professionals. This essential content, categorized below, is delivered through the
        IEEE Xplore® Digital Library.
    </h3>

    <section class="container mt-3">
        <h1 class="display-2 mb-4 text-light">Publications useful links:</h1>
        <a class="links-a"
            href="https://ieeexplore.ieee.org/Xplore/guesthome.jsp?utm_source=mm_link&utm_campaign=vix&utm_medium=pubs&utm_term=Xplore%20guest">
                Explore publications</a>
        <br>
        <a href="https://innovate.ieee.org/?utm_source=mm_link&utm_campaign=lp&utm_medium=pubs&utm_term=innovate%20subscription%20options&_ga=2.78841489.428157805.1630326551-834302556.1627901433" class="links-a">    Subscription Options</a>
    </section>